body{
    background-image: url('../../../images/background/gym.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    position: relative;
}

p
{
    margin:0;

}
.nav
{
    border: solid white 2px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.nav p{
    
    font-family: 'Oswald', sans-serif;    
    padding: 0px 56px;
}
.title
{
font-size: 3em;
}
.nav img
{
    border:solid grey 1px;
    border-radius:50%;
    width:100px;
    height: 100px;
    object-fit: cover;
}
.login{
    background-color: #F8D1C1;
    font-family: 'oswald';
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    row-gap: 20px;
    padding: 10px;
    width: 275px;
    position: absolute;
    top: 122%;
    left: 46%;
    border-radius: 25px;
}

.login input{
    background-color: rgb(232, 227, 227);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    height: 20px;
}
h1
{
    color:#42251D;
    text-align: -webkit-center;
}
button
{
    color:white;
    border-radius: 5px;
    background-color: #652A32;
    width:125px;
}