.head
{   color: white;
    font-weight: bold;
    font-family: roboto;
    padding: 10px;
    margin:0px

}
.content
{   margin-left:25%;
    margin-top: 25%;
    width: 25%;
    background-color:rgb(19, 6, 31)
}
#small
{   margin:0px;
    color: grey;
}